spring:
  h2:
    console:
      enabled: true
      path: /h2-console
  datasource:
    url: jdbc:mem:alarmDB
    hikari:
      username: sa
      password:
  jpa:
    hibernate:
      ddl-auto: none
